*.goa
*.obo

\.idea/
*/__pycache__/

domain-motif/

MiningPatterns1.0/

docs/\.ipynb_checkpoints/

data/raw/*

src/data_prep/__pycache__/
src/go_tools/__pycache__/
src/ppi_tools/__pycache__/
src/mining/MiningPattern2.0b

notebooks/\.ipynb_checkpoints/

notes-to-do\.txt

pattern_mining_tool/
