*.goa
*.obo
ppi_data/VirHostNet_January_2017.txt
ppi_data/phisto_Jan19_2017.csv
ppi_data/hpidb2_March14_2017_mitab.txt
ppi_data/hpidb2_March14_2017_mitab_plus.txt
taxid_data/taxdump/
\.idea/
*/__pycache__/

go_enrichment_tool/__init__\.py

go_enrichment_tool/enrichment_stats\.py

go_enrichment_tool/gaf_parser\.py

go_enrichment_tool/go_enrichment_script\.py

go_enrichment_tool/genelist_importer\.py

go_enrichment_tool/obo_tools\.py

domain-motif/

MiningPatterns1.0/
